Repository larrymotalavigne/package-clicker: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-check, angular-lint

.pre-commit-config.yaml:

repos:
  # ESLint for TypeScript and JavaScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.57.0
    hooks:
      - id: eslint
        files: \.(js|ts)$
        types: [file]
        args: [--fix]
        additional_dependencies:
          - '@angular-eslint/eslint-plugin@^18.0.0'
          - '@angular-eslint/template-parser@^18.0.0'
          - '@typescript-eslint/eslint-plugin@^7.0.0'
          - '@typescript-eslint/parser@^7.0.0'
          - 'eslint@^8.57.0'

  # Prettier for code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|ts|json|md|html|css|scss)$
        args: [--write]

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # TypeScript type checking
  - repo: local
    hooks:
      - id: tsc-check
        name: TypeScript Compiler Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts)$
        pass_filenames: false

  # Angular-specific checks
  - repo: local
    hooks:
      - id: angular-lint
        name: Angular Linting
        entry: npx ng lint
        language: system
        files: \.(ts|html)$
        pass_filenames: false

  # Test execution (optional, can be slow)
  - repo: local
    hooks:
      - id: unit-tests
        name: Unit Tests
        entry: npm run test:unit
        language: system
        pass_filenames: false
        stages: [push]
        verbose: true

  # Security audit
  - repo: local
    hooks:
      - id: npm-audit
        name: NPM Security Audit
        entry: npm audit --audit-level=moderate
        language: system
        pass_filenames: false
        stages: [push]

update CI/CD workflow for improved deployment and health checks
  .github/workflows/ci-cd.yml
Due: none

add tests, linting, and security scan to CI/CD workflow; streamline deployment process
  .github/workflows/ci-cd.yml
Due: none

update dependencies for @angular-devkit/build-angular to v17.3.17
  package-lock.json
Due: none

create production-specific Docker Compose file and update CI/CD workflow for streamlined deployment
  .github/workflows/ci-cd.yml
  docker-compose.prod.yml
Due: none

introduce events system with animations, achievements, and UI updates; refactor CSS and optimize game state handling
  angular.json
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/buff-display/buff-display.component.ts
  src/app/components/building-card/building-card.component.ts
  src/app/components/options-panel/options-panel.component.ts
  src/app/components/prestige-screen/prestige-screen.component.ts
  src/app/components/stats-panel/stats-panel.component.ts
  src/app/components/upgrade-panel/upgrade-panel.component.ts
  src/app/components/wrinkler/wrinkler.component.ts
  src/app/config/achievements.config.ts
  src/app/config/news-messages.config.ts
  src/app/config/upgrades.config.ts
  src/app/constants/building-display.constants.ts
  src/app/models/game.models.ts
  src/app/services/achievement.service.ts
  src/app/services/game-actions.service.ts
  src/app/services/game-state.service.ts
  src/app/services/save.service.ts
  src/styles.css
Due: tsc-check, angular-lint

implement dynamic event system with configuration, service logic, and event popup UI component
  src/app/components/event-popup/event-popup.component.ts
  src/app/config/events.config.ts
  src/app/services/event.service.ts
Due: tsc-check, angular-lint

add tooltip system for upgrade panel & building card, refine animations for interactions
  src/app/components/building-card/building-card.component.ts
  src/app/components/tooltip/tooltip.component.ts
  src/app/components/upgrade-panel/upgrade-panel.component.ts
Due: tsc-check, angular-lint

introduce streak counter, konami code mechanics, new achievements, fortune cookies, haikus, and enhanced news ticker cycle
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/news-ticker/news-ticker.component.ts
  src/app/components/stats-panel/stats-panel.component.ts
  src/app/config/achievements.config.ts
  src/app/config/events.config.ts
  src/app/config/news-messages.config.ts
  src/app/models/game.models.ts
  src/app/services/achievement.service.ts
  src/app/services/event.service.ts
  src/app/services/game-actions.service.ts
  src/app/services/game-state.service.ts
  src/styles.css
Due: tsc-check, angular-lint

fix(front)
  src/app/components/stats-panel/stats-panel.component.ts
  src/app/components/upgrade-panel/upgrade-panel.component.ts
Due: tsc-check, angular-lint

remove build artifacts from version control
  dist/packageclicker/3rdpartylicenses.txt
  dist/packageclicker/browser/favicon.ico
  dist/packageclicker/browser/index.html
  dist/packageclicker/prerendered-routes.json
Due: angular-lint

introduce contract system with service logic, contract panel UI, new achievements, and route planner feature
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/contract-panel/contract-panel.component.ts
  src/app/components/route-planner/route-planner.component.ts
  src/app/config/achievements.config.ts
  src/app/config/contracts.config.ts
  src/app/models/game.models.ts
  src/app/services/achievement.service.ts
  src/app/services/contract.service.ts
  src/app/services/game-state.service.ts
Due: tsc-check, angular-lint

upgrade
  package-lock.json
  package.json
  src/app/components/milk-bar/milk-bar.component.ts
  src/app/components/news-ticker/news-ticker.component.ts
  src/main.ts
  tsconfig.json
Due: tsc-check, angular-lint

ci: add GitLab CI pipeline
  .gitlab-ci.yml
Due: none

ci: allow api-triggered pipelines
  .gitlab-ci.yml
Due: none

chore: use docker-cache registry for all base images
  Dockerfile
Due: none

chore: use docker-cache registry in CI job images and services
  .gitlab-ci.yml
Due: none

ci: migrate to atomstudios/ci-template (frontend-only)
  .gitlab-ci.yml
  Dockerfile
Due: none

ci: remove obsolete GitHub Actions deploy (GitLab CI is canonical)
  .github/workflows/ci-cd.yml
Due: none
